<html>
    <head>

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link rel="stylesheet" href="css/all.min.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Dancing+Script:wght@400;500&family=Poppins:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/index_style.css">
        <link rel="stylesheet" href="css/lightslider.css">
        <link rel="stylesheet" href="sliderstyle.css">

    </head>
    <body>



        <nav class="navbar navbar-expand-lg nav-bg  px-4  pt-2 ">
<a class="logo" href=""><span class="g">G</span>oldgolio</a>
              
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#home"> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">Sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services"> Media & Publications</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#PORTFOLIO">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#price"> About </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#clients">Other</a>
                  </li>
                 
               
            </div>

            
            

            <div class="mr-5">
                <ul class="navbar-nav m-auto ">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                           <img width="40" src="images/man.jpg" alt="">
                           <%= Name %> 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logOut">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
          </nav>

        


        <section id="home" class="text-center">
           
            
            <div class="container-fluid py-5 mb-5">
                <div class="row">
                    <div class="col-md-5 ">
                     <div class="caption">
                        <h1>Welcome Home</h1>
                        <h3>Gold</h3>
                        <h2>Golio</h2>
                        <p>We discover talent. We champion diversity and inclusivity</p>
                     </div>
                    </div>
                    <div class="col-md-7 ">
                        <div class="card-carousel">
                            
                              <div class="my-card">
                                  <img src="images/image 2.png" alt="">
                              </div>
                              <div class="my-card">
                                <img src="images/IMG_20200802_054614_030.png" alt="">
                              </div>
                              <div class="my-card">
                                <img src="images/IMG_3926.png" alt="">
                              </div> 
                            </div>
                            

                    </div>
                </div>
            </div>
        </section>



        


        <section id="about" class="">
            
            
            <div class="container-fluid py-5 my-5">
                <div class="title " >
                    <h2>Trending & News</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="img">
                   <img class="img-fluid" src="images/IMG_20201113_000019_201.png" alt="" srcset="">

                        </div>
                    </div>
                    <div class="col-md-6 pt-3">
                       <div class="caption">
                           
                        <h4>Tharaa Goubail</h4>
                        <p>She just finished her acting workshop and everyone was having fun.</p>
                       </div>
                    </div>
                </div>
            </div>
        </section>




        <section id="services" class=" py-5 ">
            <div class="container-fluid ">
                <h3>NEW FACES</h3>
                <div class="your-class">
                    <div><img src="images/IMG_3926 (1).png" class="img-fluid" alt=""></div>
                    <div><img src="images/IMG_3926 (1).png" class="img-fluid" alt=""></div>
                    <div><img src="images/IMG_3926 (1).png" class="img-fluid" alt=""></div>
                    <div><img src="images/IMG_3926 (1).png" class="img-fluid" alt=""></div>
                    
                  </div>
               
            </div>
        </section>


        <section id="Sections" class=" py-5 ">
            <div class="container-fluid ">
                <h3>Sections</h3>
                <div class="your-class">
                    <div><img src="images/image 5.png" class="img-fluid" alt=""></div>
                    <div><img src="images/image 6.png" class="img-fluid" alt=""></div>
                    <div><img src="images/image 7.png" class="img-fluid" alt=""></div>
                    
                  </div>
               
            </div>
        </section>



        <section id="Agencies" class="my-5">
            <div class="container-fluid">

                <h3>Agencies</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="img">
                            <img src="images/image 8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img">
                            <img src="images/image 9.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


            <footer class=" py-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                            <strong>Goldgolio</strong>  is an online casting platform, for those who want to expose their talents to talent hunters, to get more work opportunities in the media field. On the other hand, we also offer the talent seekers the ideal candidate for their project.

                            </p>
                    </div>

                    <div class="col-md-4">
                        <div class="contact">
                            
                            <h4>CONTACT US</h4>
                            <h5>Telephone: 01024010174</h5>
                            <h5>Email: goldgolioagency@gmail.com</h5>
                            <h5>Address: Everywhere man just look</h5>

                        </div>
                  </div>

                  <div class="col-md-4">

                   <h4>Follow Gold Golio On :</h4>
              </div>
                </div>
                </div>
                <div class="text-center py-4">
                <p class="copyright" >All content Copyright © Ahmedsoudy.com, Inc. 2000-2022 </p>

                </div>
            </footer>







        
       

 <script src="/js/jquery-3.5.1.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>


 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 <script src="js/lightslider.min.js"></script>

 <script src="/js/index.min.js"></script>
 <script src="/js/main.js"></script>


    </body>
</html>