
  body{
    overflow-x: hidden;
  }

  nav .g{
    font-family: 'Dancing Script';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 36px;
/* identical to box height */


color: #D59900;

  }


  
  nav .logo{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    /* identical to box height */
    color: #EAA900;
  }

  nav li a{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
/* identical to box height */
color: #000000;
  }

#home .caption{
  margin-top: 50px;
}

#home h1{
  font-family: 'Nelphim ';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;  
}

#home h3{
  font-family: 'Nelphim ';
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 108px;
color: #97691B;

}

#home h2{
  
font-family: 'Nelphim ';
font-style: normal;
font-weight: 800;
font-size: 120px;
line-height: 60px;
/* identical to box height */

letter-spacing: 0.15em;

color: #97691B;
}
#home p{
  margin: auto;
  width: 270px;
  margin-top: 40px;
  font-family: 'Nelphim ';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #000000;
}

#home .my-card{
  width: 100% !important;
}

#home .my-card img{
  width: 160% !important;
  height: 200% !important;
} 

#about h2 {
  margin: 20px 55px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: 0.055em;

color: #000000;
}

#about .img{
 width: 80%;
 margin: auto;
 margin-top: 30px;
}

#about .caption{
  margin-top: 30px;
}

#about h4{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
/* identical to box height */
letter-spacing: 0.055em;

color: #000000;

}


#about p{
  width: 454px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.055em;
  
  color: #000000;}


  #services{
    height: 80%;
    overflow: hidden;
  }

 

#services h3{    
  margin: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: 0.055em;
color: #000000;
  }

#services img{
  width: 90%;
  height: 80%;
}

button{
  display: none !important;
}

#Sections{
  height: 90%;
  overflow: hidden;
}

#Sections h3{
  margin: 30px 55px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.055em;
  color: #000000;
}

#Sections img{
  width: 90%;
  height: 80%;
}



#Agencies h3{
  margin: 30px 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: 0.055em;

color: #000000;
}

#Agencies .container-fluid{
  margin-left:55px ;
}

#Agencies .img{
  width: 80%;
  text-align: center;
  border: 1px solid #000000;
box-sizing: border-box;
}


footer{
  margin-top: 80px;
  background-color: #000000;
}

footer .container-fluid{
  margin-left:55px ;
  padding: 55px 0;

}
footer p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 250;
font-size: 20px;
line-height: 30px;
color: #606060;

}
footer strong{
  color: #97691B ;
  font-size: 45px;
}
 footer .contact{
   margin: auto;
   padding-left:80px ;
 }

 footer h4 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 30px */
color: #FFFFFF;
  }

  footer h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 15px */


color: #FFFFFF;
  }


  footer .copyright {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #97691B;
  }


/* //////////// */

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card-carousel .my-card {
    height: 20rem;
    width: 12rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
  }
  
  .card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  
  .card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(0.7) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.5) translateY(-1rem) translateX(0);
    transform: scale(0.5) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }